  button {position: relative; border: 0; padding: 0; cursor: pointer; overflow: visible; float: left}
button::-moz-focus-inner {border: none;  border: 0; padding: 0}
button span {position: relative; display: block; white-space: nowrap; top: 0}
a.btn span {position: relative; display: block; white-space: nowrap; margin: 0; top: 0; height: 15px; cursor: pointer}
@media screen and (-webkit-min-device-pixel-ratio:0) { button span {margin-top: -1px}
}
 button.btn {padding: 0 2px 0 0; margin-right: 5px; background: transparent url(/images/buttons/btn-bcg.gif) no-repeat right -170px; font: bold 13px arial; height: 24px; text-align: center; margin-left: 0; color: #535d65}
button.btn span {padding: 5px 10px 4px 12px; background: transparent url(/images/buttons/btn-bcg.gif) no-repeat left -136px; margin-right: 0}
button.btn:hover { background-position: right -102px}
button.btn:hover span {background-position: left -68px}
button.btn-blue:hover { background-position: right -238px}
button.btn-blue:hover span {background-position: left -204px}
button.btn-small {font: 11px arial}
button.btn-small span {padding: 6px 10px 3px 12px; background: transparent url(/images/buttons/btn-bcg.gif) no-repeat left -136px; margin-right: 0; height: 15px; color: #6a6a6a}
button.btn-small:hover { background-position: right -102px}
button.btn-small:hover span {background-position: left -68px}
a.btn {padding: 0 9px 0 0; margin-right:5px; background: transparent url(/images/buttons/btn-bcg.gif) no-repeat right -170px; font: bold 13px/15px arial; color: #535d65; display: block; height: 24px; text-align: center; float: left; margin-left: 0}
a.btn span {padding: 5px 0 4px 9px; background: transparent url(/images/buttons/btn-bcg.gif) no-repeat left -136px; color: #535d65; line-height: 15px; height: 15px; float: left; display: block}
a.btn:hover { background-position: right -102px}
a.btn:hover span {background-position: left -68px}
a.btn-blue {background: transparent url(/images/buttons/btn-bcg.gif) no-repeat right -34px}
a.btn-blue span {background: #0089c8 url(/images/buttons/btn-bcg.gif) no-repeat left top; color: white}
button.btn-blue {background: transparent url(/images/buttons/btn-bcg.gif) no-repeat right -34px}
button.btn-blue span {background: #0089c8 url(/images/buttons/btn-bcg.gif) no-repeat left top; color: white}
a.btn-blue:hover { background-position: right -238px}
a.btn-blue:hover span {background-position: left -204px}
a.btn-small {font: 11px/15px arial}
a.btn-small span {background: transparent url(/images/buttons/btn-bcg.gif) no-repeat left -136px}
a.btn-small:hover { background-position: right -102px}
a.btn-small:hover span {background-position: left -68px}
.posts-detail {text-align: left; width: 217px; padding: 10px; background-color: #fff; float: left; font-size: 0.8em !important}
.posts-detail h3 {margin-bottom: 5px; font-size: 1.7em; letter-spacing: -1px; float: left; margin-top: 0; padding-top: 0; border-top-style: none}
.posts-detail p.type {color: #7f7f7f; margin-top: -1px; float: right}
.posts-detail span.street {font-weight: bold; font-size: 1.1em}
.posts-detail p.address {padding-top: 5px; line-height: 11px; font-size: 1.1em; text-align: left; margin-top: 2px; clear: left; border-top: 1px solid #d7d7d7}
.posts-detail span.city {font-size: 1.1em; display: block; padding-top: 2px}
.posts-detail span.zip {font-weight: bold; font-size: 1.6em; letter-spacing: -1px; padding-top: 6px; margin-bottom: 14px; display: block}
.posts-detail span.phone {padding-top: 7px; float: right; margin-top: -30px; margin-bottom: 8px}
.posts-detail p {margin-bottom: 5px}
.posts-detail ul.day-buttons {clear: left; margin: 0; list-style-type: none; border: 1px solid #d7d7d7; display: block; width: 217px; height: 20px; border-right-style: none; border-bottom-style: none}
.posts-detail ul.day-buttons li {float: left; display: inline}
.posts-detail ul.day-buttons li a {padding: 4px 10px; display: block; float: left; text-transform: capitalize; font-size: .8em; font-weight: bold; color: #000; border-right: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7; width: 10px}
.posts-detail ul.day-buttons li a:hover, .posts-detail ul.day-buttons li.sel a {background-color: #191919; color: white}
.posts-detail div.day-tabs {border: 1px solid #d7d7d7; border-top-style: none; width: 216px; height: 28px}
.posts-detail div.day-tabs div {position: absolute; padding: 6px 0px; text-align: center; font-size: 1.1em; font-weight: bold; width: 216px}
.posts-detail span.note {background-color: #fffaec; float: left; padding-left: 10px; margin-top: 0; padding-right: 10px; padding: 5px; border: 1px solid #ffefb6; width: 206px; line-height: 12px}
.area-post {float: left; padding-top: 10px; padding-bottom: 10px; padding-left: 0; position: relative; width: 940px}
.area-post .cleft .infolink {margin: 0; padding: 20px 10px 10px; clear: left; float: left; width: 270px; position: relative; left: 20px; top: 10px; background: #fff url(/images/buttons/background.gif) repeat-x 0 -408px; border-bottom-color: #d8d8d8; text-align: center}
.area-post .notice {margin-left: 20px; border-width: 1px; font-size: .9em; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; clear: both}
.area-post .cleft {float: left; position: relative; width: 310px}
.area-post .cleft form {width: 310px}
.area-post .cright {float: right; width: 580px; padding-right: 20px}
.area-post .cright p.mapnote {font-size: 10px; text-align: center; position: relative; top: 10px; color: #999; padding-right: 10px; padding-left: 10px; float: left}
.area-post p {margin-bottom: 0; padding-left: 20px}
.area-post p.zip-result {margin-bottom: 5px; padding-top: 10px; padding-bottom: 5px; margin-top: 5px; padding-left: 0; margin-left: 20px; clear: left; border-top: 1px solid #e5e5e5}
.area-post p.zip-result.first {border-top: 1px solid #f3f3f3; padding-top: 10px; margin-top: 15px}
.area-post p.zip-result span.city {font-weight: bold; padding-right: 5px}
.area-post p.zip-result span.zip {font-weight: bold; padding-right: 5px; font-size: 1.4em; line-height: 16px}
.area-post p.zip-result span.note {font-site: 0.8em}
.area-post p.pager {padding: 10px 0 0; float: left; width: 290px; margin-bottom: 0; display: block; text-align: center; position: relative; left: 20px; top: 0; border-top: 1px solid #e5e5e5}
.area-post p.pager a {padding-right: 0}
.area-post input.title {margin-top: 2px; border-color: #bebebe; width: 275px; background-color: #fffaec}
.area-post input.title.short {width: 100px}
.area-post .gmap {width: 580px; height: 380px; border: 1px solid #bebebe; float: left}
.area-post .zip-buttons {width: 130px; padding: 0; position: absolute; display: block; top: 177px; left: 198px}
.area-post .openhrs-buttons {text-shadow: #000000 0 0 0; position: absolute; padding: 0; left: 198px; width: 120px; top: 222px}
.openhrs-post {padding-bottom: 40px}
span.notehelp {color: #b1b4b8; font-size: .9em; float: right; clear: right}
.area-post p.address {padding-left: 0}
.area-post .cleft ul {list-style-type: none; padding-top: 10px; border-top: 1px solid #f3f3f3; width: 289px; margin: 15px 0 0 20px; cursor: pointer}
.area-post .cleft ul span.street {color: #08c}
.area-post .cleft ul span.city {color: #08c}
.area-post .cleft ul span.region {display: block; padding-bottom: 10px}
.area-post .sep {padding: 4px 0 6px 20px; font-size: .9em; color: #b1b4b8; float: left; width: 290px}
.area-post .openhrs-post label {float: left}
.area-post .openhrs-post .note {font-size: .9em; color: #b1b4b8; padding: 2px 8px 0 0; float: right}
.area-post .address-result {margin-bottom: 3px}